@model MVCDemo5.Models.student_info
@using MVCDemo5.Models;
@{
    studentEntities1 conn = new studentEntities1();
    var model = conn.student_info.ToList();
    Layout = null;
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<body>
    <div class="container">
        @using (Html.BeginForm("InsertRecord", "Home", FormMethod.Post))
        {
            <label>Name</label>
            @Html.TextBoxFor(student => student.names)
            <br />
            <label>Mobile</label>
            @Html.TextBoxFor(student => student.mobile)
            <br />
            <input id="Submit1" type="submit" value="Add" />
            <input id="Reset1" type="reset" value="reset" />
        }
    </div>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
               @foreach (var item in model)
               {
                   <tr>
                       <td>
                           @item.id
                       </td>
                       <td>
                           @item.names
                       </td>
                       <td>
                           @item.mobile
                       </td>
                       <td>
                           <a href="/Home/Edit?Id=@item.id">Update</a>
                           <a href="/Home/Delete?Id=@item.id">Delete</a>
                       </td>
                      
                   </tr>
               }
            </tbody>
        </table>
    </div>
</body>